<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'trash_control/trash_control_style.css' %}" />
        <style>
            ul.nav{
                margin-left: 0px;
                padding-left: 0px;
                list-style: none;
            }
            .nav li {
                display: inline;
            }
            ul.nav a {
                display: inline-block;
                width: 6em;
                padding:10px;
                border: 1px dashed #333;
                text-decoration: none;
                color: #aacc11;
                text-align: center;
            }
            ul.nav a:hover{
                background-color: green;
                color: white;
            }
        </style>
    </head>
    <body>
        <ul class="nav">
            <li><a href="{% url 'trash_control:home_page' %}">Home page</a></li>
            <li><a href="{% url 'trash_control:trashes_view' %}">All trashes</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">About site</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>