{% extends "./trash_detail.html" %}

{% block clear_task_detail %}
    <table>
        <thead>
            <th>Task of clearing</th><th></th>
        </thead>
        <tbody>
            <tr>
                <td>TRASH</td>
                <td>{{ clear_task.trash.name }}</td>
            </tr>
            <tr>
                <td>POLICY</td>
                <td>{{ clear_task.policy }}</td>
            </tr>
            <tr>
                <td>DATE OF CREATING</td><td>{{ clear_task.creating_date }}</td>
            </tr>
            <tr>
                <td>FORCE</td>
                <td>{{ clear_task.force }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}