{% extends "./base.html" %}

{% block title %}
    create recovery task
{% endblock %}

{% block content %}
    <h2>New clear task</h2>
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <table>
                {{ form.as_table }}
            </table>
            <p><input type="submit" name="create_clear_task" value="create task"></p>
        </fieldset>
    </form>
    {% if result %}
        <h4>{{ result }}</h4>
    {% endif %}
{% endblock %}