{% extends "./base.html" %}
{% block title %}
home page
{% endblock %}

{% block content %}
    <div class="container">
        <p><h3>Yesterday {{ current_date }}.</h3></p>
        <h1>Hello, User!</h1>
        <p>This is the web interface of the utility 'SmartRM', which supports the:
            <ul>
                <li> View known trashes (list, separate trash in detail).</li>
                <li> Creation, control, display status and delete trashes.</li>
                <li> View tasks (list, individual task in detail).</li>
                <li> Creation, control and display the status of tasks.</li>
            </ul>
        </p>
    </div>
        <p><a href="{% url 'trash_control:trash_administration' %}" role="button">Begin work? &raquo;</a></p>
        {% load staticfiles %}
        <img src="{% static 'trash_control/trash_control_home_img.jpg' %}"
             alt='error 404' width='100%' align='middle'>
{% endblock %}