{% extends "./trash_detail.html" %}

{% block recovery_task_detail %}
    <table>
        <thead>
            <th>Task of recovering</th><th></th>
        </thead>
        <tbody>
            <tr>
                <td>TRASH</td>
                <td>{{ recovery_task.trash.name }}</td>
            </tr>
            <tr>
                <td>FILE AND DIRECTORY NAMES</td>
                <td>
                    {% for name in recovery_task.namesforrecoverytask_set.all %}
                    <p>{{ name }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>DATE OF CREATING</td>
                <td>{{ recovery_task.creating_date }}</td>
            </tr>
            <tr>
                <td>FORCE</td>
                <td>{{ recovery_task.force }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}