{% extends "./trash_detail.html" %}

{% block remove_task_detail %}
    <table>
        <thead>
            <th>Task of removing</th><th></th>
        </thead>
        <tbody>
            <tr>
                <td>TRASH</td>
                <td>{{ remove_task.trash.name }}</td>
            </tr>
            <tr>
                <td>MODE</td>
                <td>{{ remove_task.mode }}</td>
            </tr>
            <tr>
                <td>DATE OF CREATING</td><td>{{ remove_task.creating_date }}</td>
            </tr>
            <tr>
                <td>PATHS</td>
                <td>
                    {% for path in remove_task.pathsbyremovetask_set.all %}
                    <p>{{ path }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>IN PATH</td>
                <td>{{ remove_task.trash.get_trash_path }}</td>
            </tr>
            <tr>
                <td>FORCE</td>
                <td>{{ remove_task.force }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}