{% extends "./base.html" %}

{% block title %}
    trash statistic
{% endblock %}

{% block content %}
    <h2>Statistic for trash {{ trash.name }}</h2>
    <table>
        <thead>
            <th>Tasks type</th>
            <th>Tasks info</th>
            <th>Tasks result</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for statistic in statistics %}
                <tr>
                    <td>{{ statistic.type_task }}</td>
                    <td>{{ statistic.content }}</td>
                    <td>{{ statistic.result }}</td>
                    <td>{{ statistic.execution_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}