{% extends "./base.html" %}

{% block title %}detail trash view {{ trash.name }}{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'trash_control/modal_window_style.css' %}" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <h1>Detail view {{ trash.name }}</h1>
    <table>
        <thead>
            <th>Trash</th><th></th>
        </thead>
        <tbody>
            <tr>
                <td>NAME</td>
                <td>{{ trash.name }}</td>
            </tr>
            <tr>
                <td>PATH</td><td>{{ trash.path }}</td>
            </tr>
            <tr>
                <td>FILES COUNT</td>
                <td>{{ trash.files_count }}</td>
            </tr>
            <tr>
                <td>SIZE</td>
                <td>{{ trash.size }}</td>
            </tr>
            <tr>
                <td>LAST CLEARING</td>
                <td>{{ trash.last_clearing_date }}</td>
            </tr>
        </tbody>
    </table>

    <p/>

    <form action="{% url 'trash_control:trash_statistic' trash.id %}" method="get">
        {% csrf_token %}
        <input type="submit" value="get report" class="open_window">
        <input name="trash_statistic" type="submit" value="get statistic">
    </form>
    <p/>

    <div class="overlay" title="window"></div>
    <div class="popup">
        <div class="close_window">x</div>
        <h3>Report on the last completed task</h3>
        <p> {{ trash.report }} </p>
    </div>
    <script type="text/javascript">
        $('.popup .close_window, .overlay').click(function (){
        $('.popup, .overlay').css({'opacity': 0, 'visibility': 'hidden'});
        });

        $('input.open_window').click(function (e){
        $('.popup, .overlay').css({'opacity': 1, 'visibility': 'visible'});
        e.preventDefault();
        });

        $('a.open_window').click(function (e){
        $('.popup, .overlay').css({'opacity': 1, 'visibility': 'visible'});
        e.preventDefault();
        });
    </script><br/>

    <fieldset>
        <h4>Content:</h4>
        <ul>
            {% for obj in content %}
                <li class="content">{{ obj }}</li><br/>
            {% endfor %}
        </ul><br/>
    </fieldset>

    <fieldset>
        <h4>Clear tasks.</h4>
        <ul>
            {% for task in clear_tasks %}
                <li><a href="{% url 'trash_control:clear_task_detail' trash.id task.id%}">{{ task }}</a></li>
            {% endfor %}

            {% block clear_task_detail %}
            {% endblock %}
        </ul><br/>
        <form action="{% url 'trash_control:trash_detail' trash.id %}" method="post">
            {% csrf_token %}
            <input name="clear_task_del" type="submit" value="delete task" />
            <input name="clear_task_run" type="submit" value="run current task" />
        </form>
        <form action="{% url 'trash_control:create_clear_task' trash.id %}" method="get">
            {% csrf_token %}
            <input name="create_clear_task" type="submit" value="add new task"/>
        </form>
    </fieldset>

    <fieldset>
        <h4>Remove tasks.</h4>
        <ul>
            {% for task in remove_tasks %}
                <li><a href="{% url 'trash_control:remove_task_detail' trash.id task.id%}">{{ task }}</a></li>
            {% endfor %}

            {% block remove_task_detail %}
            {% endblock %}
        </ul><br/>
        <form action="{% url 'trash_control:trash_detail' trash.id %}" method="post">
            {% csrf_token %}
            <input name="remove_task_del" type="submit" value="delete task" />
            <input name="remove_task_run" type="submit" value="run current task" />
        </form>
        <form action="{% url 'trash_control:create_remove_task' trash.id %}" method="get">
            {% csrf_token %}
            <input name="create_remove_task" type="submit" value="add new task"/>
        </form>
    </fieldset>

    <fieldset>
        <h4>Recovery tasks.</h4>
        <ul>
            {% for task in recovery_tasks %}
                <li><a href="{% url 'trash_control:recovery_task_detail' trash.id task.id%}">{{ task }}</a></li>
            {% endfor %}

            {% block recovery_task_detail %}
            {% endblock %}
        </ul><br/>
        <form action="{% url 'trash_control:trash_detail' trash.id %}" method="post">
            {% csrf_token %}
            <input name="recovery_task_del" type="submit" value="delete task" />
            <input name="recovery_task_run" type="submit" value="run current task" />
        </form>
        <form action="{% url 'trash_control:create_recovery_task' trash.id %}" method="get">
            {% csrf_token %}
            <input name="create_recovery_task" type="submit" value="add new task"/>
        </form>
    </fieldset>
{% endblock %}