{% extends "./trashes_view.html" %}

{% block administration %}
<h2>{{ title }}</h2>
<form action="{% url 'trash_control:trash_administration' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% for trash in trashes_list %}
            <input type="radio" name="deleted_trash" id="trash{{ forloop.counter }}" value="{{ trash.id }}" />
            <label for="trash{{ forloop.counter }}">{{ trash }}</label>
            <br/>
        {% endfor %}
        <br><input type="submit" value="delete" /></br>
    </fieldset>

</form>
{% endblock %}

