{% extends "./base.html" %}
    <title>trashes view</title>
{% block content %}
    <h1>All trashes</h1>
    <h4>For detail trash view click by reference.</h4>
    <ul>
        {% for trash in trashes_list %}
        <li>
            <a href="{% url 'trash_control:trash_detail' trash.id %}">{{ trash }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <form action="{% url 'trash_control:trash_administration' %}" method="get">
        {% csrf_token %}
        <input name="create" type="submit" value="add new trash"/>
        <input name="del" type="submit" value="delete trash" />
    </form>
    {% block administration %}
    {% endblock %}
{% endblock %}