{% extends "./trashes_view.html" %}

{% block administration %}
    <p><h2>{{ title }}</h2></p>
    <form action="{% url 'trash_control:trash_administration' %}" method="post">
        {% csrf_token %}
        {% comment %}
        <fieldset>
            <label for="trash1"> name by new trash: </label>
            <br><input type="text" name="name" id="trash1"/></br>
            <label for="trash2"> path by new trash: </label>
            <br><input type="text" name="path" id="trash2"/></br>
        </fieldset>
        {% endcomment %}
        <fieldset>
            <table>
                {{ trash_form.as_table}}
            </table>
            <br><input name="created_trash" type="submit" value="save" /></br>
        </fieldset>

    </form>
{% endblock %}

