body {
    background: #ffffff url("trash_control_background1.png") repeat left top;
    padding-left: 20px;
}

.content{
    background-color: #144336;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-size:14px;
}

form{
    display: inline;
}

h1{
   text-align: center;
   color: red;
   font-weight: bold;
}

h2{
   text-align: center;
   color: red;
   font-weight: bold;
}

h3{
   text-align: center;
   color: pink;
   font-weight: bold;
}

h4{
   color: green;
   font-weight: bold;
}

a:link, a:visited {
    background-color: #144336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 97%;
}

a:hover, a:active {
    background-color: green;
    width: 97%;
}


ul {
    font-size: 120%; /* Размер шрифта */
    font-family: Verdana, Arial, Helvetica, sans-serif; /* Семейство шрифта */
    color: #3A1; /* Цвет текста */
    background: #3377ff;
    padding: 20px;
}

ul li {
    list-style-type:None;
    color:white;
    margin: 5px 5px 5px 5px;
}

label{
    color: #1111dd;
    font-size: 20px;
}

input[type="submit"] {
   padding: 10px, 10px, 10px, 10px;
   border: 1px solid #99cc11;
   border-radius: 5px;
   height: 44px;
   width: 150px;
   color: #aacc11;
   font-size: 16px;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
  width: 100%;
}

th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  background: #2255ff;
  text-align: left;
  color: #1122ff;
}

td {
  padding: 10px;
}

tr:nth-child(odd) {
  background: white;
  color:#3377ff;;
}

tr:nth-child(even) {
  color: white;
  background: #3377ff;
}




